@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

@font-face {
    font-family: "chakra-regular";
    src: url("../public/fonts/ChakraPetch-Regular.ttf") format("opentype");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "chakra-light";
    src: url("../public/fonts/ChakraPetch-Light.ttf") format("opentype");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "chakra-medium";
    src: url("../public/fonts/ChakraPetch-Medium.ttf") format("opentype");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "chakra-semibold";
    src: url("../public/fonts/ChakraPetch-SemiBold.ttf") format("opentype");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "chakra-bold";
    src: url("../public/fonts/ChakraPetch-Bold.ttf") format("opentype");
    font-style: normal;
    font-display: swap;
  }

::selection {
  background-color: #bbff34;
  color: #141D2B;
}

::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Estilizando o botão de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #383b49; /* Cor do botão de rolagem */
  border-radius: 4px; /* Borda arredondada */
}

/* Estilizando a barra de rolagem quando o cursor está sobre ela */
::-webkit-scrollbar-thumb:hover {
  background-color: #adadad; /* Cor do botão de rolagem quando o cursor está sobre ela */
}